@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf')
		format('truetype');
}

:root {
	--stroke-soft: #f2f2f5;
	--base-higher-p: #fff;
	--base-white: #fff;
	--border-red: #ff3b3b;
	--border-orange: #ff8800;
	--border-blue: #3e7bfa;
	--gradient-red: linear-gradient(90deg, #ff3b3b, #cc00bb);
	--gradient-orange: linear-gradient(90deg, #ff8800, #ee5d5d);
	--gradient-blue: linear-gradient(90deg, #3e7bfa, #6600cc);
}
* {
	box-sizing: border-box;
}

*:focus-visible {
	/* outline: 0.5px rgba(150, 150, 150, 0.23) solid; */
	outline: 1px solid #ebebf0;
	box-shadow: 0px 0.5px 4px 0px rgba(96, 97, 112, 0.32) inset;
	border-radius: 5px;
}

html {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	background: #fafafc;
	overflow: hidden;
}

header {
	display: flex;
	justify-content: center;
	z-index: 1;

	position: fixed;
	top: 0;

	margin-top: 3vh;
	width: 100%;
	gap: 1.7rem;


	animation: slideTopMiddle 1.5s;
}

p {
	margin: 0;
}

.container {
	position: relative;
	margin-top: 10vh;
	height: 90vh;
}

/* Add TODO BTN */
.cancelForm:hover,
.deleteTodo:hover,
.deleteTodoEdit:hover,
.cancelListForm:hover,
.deleteList:hover {
	/* ! UPDATE COLOURS */
	background: #ff5d5d;
	color: #700;
}

.cancelForm,
.deleteTodo,
.deleteTodoEdit,
.deleteList {
	width: 0.8rem;
	height: 0.8rem;

	background-color: var(--base-higher-p, #fff);
	border: 1px solid #dadadd;
	border-radius: 100%;
	filter: drop-shadow(0px 20px 32px rgba(96, 97, 112, 0.24))
		drop-shadow(0px 2px 8px rgba(40, 41, 61, 0.08));

	font-size: 0.6rem;
	text-align: center;
	color: transparent;
}

.addTodoBtn {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 2.75rem;
	width: 2.75rem;
	padding-bottom: 0.4rem;

	border: 1px solid var(--stroke-soft, #f2f2f5);
	border-radius: 3.125rem;
	background: var(--base-white, #fff);

	box-shadow: 0px 4px 8px 0px rgba(96, 97, 112, 0.16),
		0px 0px 2px 0px rgba(40, 41, 61, 0.04);

	font-family: Inter, sans-serif;
	color: #1c1c28;
	font-feature-settings: 'clig' off, 'liga' off;
	font-size: 2.25rem;
	font-style: normal;
	font-weight: 200;
	line-height: 1.5rem;

	cursor: pointer;
}

.hamburger {
	display: flex;
	width: 5rem;
	height: 2.5rem;
	justify-content: center;
	align-items: center;

	border-radius: 0.75rem;
	border: 1px solid var(--stroke-soft, #f2f2f5);
	background: var(--base-white, #fff);
	box-shadow: 0px 4px 8px 0px rgba(96, 97, 112, 0.16),
		0px 0px 2px 0px rgba(40, 41, 61, 0.04);

	font-family: Inter, sans-serif;
	color: #1c1c28;
	font-feature-settings: 'clig' off, 'liga' off;
	font-size: 1.1rem;
	font-style: normal;
	font-weight: 300;
	line-height: 1.5rem;

	cursor: pointer;
}

.addTodoBtn:hover,
.hamburger:hover {
	border: 2px solid #ebebf0;
}

.addTodoBtn:active,
.hamburger:active {
	border: 3px solid #e4e4eb;
}

.sidebar {
	z-index: 1;
	display: flex;
	flex-direction: column;
	gap: 30px;

	width: 10.5rem;

	transition: transform 0.5s;
	/* transform: translateX(-150%); */

	position: fixed;
	top: 23%;
	left: 14%;
}

.showSidebar {
	/* transform: translateX(-150%); */
	transform: translateY(400%);
}

.defaultSideLists,
.customSideLists {
	display: grid;
	grid-auto-rows: 2rem;
	grid-template-columns: 8rem;
	align-items: flex-start;

	width: 11rem;
	padding: 0.6rem 1.4rem;

	border-radius: 1.25rem;
	border: 1px solid var(--stroke-soft, #f2f2f5);
	background: var(--base-white, #fff);

	box-shadow: 0px 4px 8px 0px rgba(96, 97, 112, 0.16),
		0px 0px 2px 0px rgba(40, 41, 61, 0.04);
}

.defaultSideLists > .sidebarButton:last-child,
.customSideLists > .sidebarButton:last-child {
	border: 0;
}

.sidebarButton {
	width: 100%;
	height: 100%;

	border: 0;
	border-bottom: 1px solid #ebebf0;
	background: transparent;

	text-align: left;

	font-family: Inter, sans-serif;
	color: #1c1c28;
	font-size: 0.9rem;
	font-style: normal;
	font-weight: 300;
	line-height: 1.5rem;
	text-overflow: ellipsis;

	cursor: pointer;
}

.activeSideButton {
	color: #3568d4;
	font-weight: 700;
}

/** LIST */

.list {
	display: flex;
	flex-direction: column;
	align-items: center;

	height: 100%;
	width: clamp(25rem, 40rem, 55rem);
	margin: auto;

	/* overflow: hidden; */
}

.listHead {
	align-self: baseline;

	display: grid;
	grid-template-rows: 3rem 0.5rem 3rem;
	grid-template-columns: 2.4rem auto 2.4rem;

	width: 100%;
	height: 6.875rem;
}

.deleteList {
	grid-row: 2;
	justify-self: flex-start;
	align-self: center;
}

.listTitle,
.customTitle {
	grid-row: 1;
	align-self: end;
	grid-column: 2;

	font-family: Inter, sans-serif;
	color: var(--dark-dark-0, #1c1c28);
	font-size: 2rem;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	letter-spacing: 0.1rem;

	text-overflow: ellipsis;
}

.listDescription,
.customDescription {
	grid-row: 3;
	grid-column: 2;

	font-family: Inter, sans-serif;
	color: rgba(28, 28, 40, 0.22);
	font-feature-settings: 'clig' off, 'liga' off;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5rem;

	text-overflow: ellipsis;
}

.customTitle,
.customDescription {
	background: transparent;
	border: 0;
}

.completedTodosTitle {
	display: flex;
	align-items: center;

	width: 85%;
	height: 2rem;
	border-bottom: 1px solid rgba(185, 185, 185, 0.423);
	margin-top: 0.3rem;

	font-size: 0.8rem;
	font-family: Inter, sans-serif;
	color: rgba(28, 28, 40, 0.22);
	font-weight: 300;
	letter-spacing: 0.5px;
}

.activeTodos,
.completedTodos {
	/*  MASK OVERFLOW fade */
	--mask-image-content: linear-gradient(
		to bottom,
		transparent,
		black 2rem,
		black calc(100% - 2rem),
		transparent
	);

	mask-image: var(--mask-image-content);
	mask-repeat: no-repeat;
	/* Hide scrollbar */
	-ms-overflow-style: none;
	scrollbar-width: none;

	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;

	padding-top: 0.5rem;

	overflow-y: auto;
}

.emptySubList {
	z-index: 1;
	padding-top: 2rem;
	font-size: 1rem;
	color: #e4e4eb;
}

.activeTodos::-webkit-scrollbar,
.completedTodos::-webkit-scrollbar {
	display: none;
}

.activeTodos {
	height: 50%;
}

.completedTodos {
	height: 25%;
}

.emptyCompletedButton {
	z-index: 1;

	position: fixed;
	bottom: 1rem;

	display: flex;

	height: 2rem;
	padding: 0.25rem 0.5rem;

	justify-content: center;
	align-items: center;
	border-radius: 0.75rem;
	border: 1px solid var(--stroke-soft, #f2f2f5);
	background: var(--base-white, #fff);
	box-shadow: 0px 0.5px 2px 0px rgba(96, 97, 112, 0.16),
		0px 0px 1px 0px rgba(40, 41, 61, 0.08);
	font-family: Inter, sans-serif;
	color: #c7c9d9;
	font-feature-settings: 'clig' off, 'liga' off;
	font-size: 0.7rem;
	font-style: normal;
	font-weight: 300;
	line-height: 1.5rem;

	cursor: pointer;
}

.slide-top-middle {
	animation: slideTopMiddle 300ms;
}

.slide-middle-top {
	animation: slideMiddleTop 300ms;
}

.slide-middle-bottom {
	animation: slideMiddleBottom 300ms;
}

.slide-bottom-middle {
	animation: slideBottomMiddle 300ms;
}

@keyframes slideTopMiddle {
	from {
		transform: translateY(-200%);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes slideMiddleTop {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-200%);
	}
}

@keyframes slideMiddleBottom {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(200%);
	}
}

@keyframes slideBottomMiddle {
	from {
		transform: translateY(200%);
	}

	to {
		transform: translateY(0);
	}
}

/* TODO */

/* TODO FORM */

/* Grey out background */
#todoForm {
	z-index: 3;
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: grid;
	grid-template-rows: repeat(4, 4rem);
	grid-template-columns: 1fr 1fr 1fr;

	width: clamp(25rem, 40rem, 55rem);
	height: 18rem;
	margin: auto;
	padding: 15px 25px;

	border-radius: 20px;
	background: #e3e3e31c;
	backdrop-filter: blur(20px);

	font-family: Inter, sans-serif;
	color: #1c1c28;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5rem;

	text-overflow: ellipsis;
}

.darkBgd {
	position: absolute;
	top: -0.3%;
	left: -0.3%;
	box-shadow: 0px 0 200px 999px #84848454;
	border-radius: 23px;
	height: 102%;
	width: 100.7%;
	pointer-events: none;
}

.showForm {
	animation-name: showForm;
	animation-duration: 800ms;
}

@keyframes showForm {
	from {
		top: -200%;
	}

	to {
		top: 25%;
	}
}

.removeForm {
	animation-name: removeForm;
	animation-duration: 1.5s;
}

@keyframes removeForm {
	from {
		top: 25%;
	}

	25% {
		top: -200%;
	}

	to {
		top: -200%;
	}
}

.cancelForm {
	position: absolute;
	top: 10px;
	right: 10px;
	background: #bebebe1c;
}

#formTitle,
#formNotes,
#formDate,
#formList,
#formPriority {
	height: 100%;
	width: 100%;
	padding: 5px;

	border: 0;
	background: transparent;
}

.formTitle {
	grid-area: 1 / 1 / 1 / 4;
	align-self: center;
}

#formTitle {
	width: 100%;
	padding: 5px;
	font-size: 1.5rem;
	border-bottom: 1px solid #b5b4b43f;
}

.formNotes {
	grid-area: 2 / 1 / 4 / 4;
	align-self: center;

	height: 100%;
	width: 100%;
	margin-bottom: 3px;

	border-radius: 10px;
	border: 1px solid #a1a2a430;
}

#formNotes {
	padding: 10px;
}

textarea {
	resize: none;
	overflow: scroll;
}

.formDate,
.formList,
.formPriority {
	align-self: end;
	padding: 10px 0px;
}

.formList {
	grid-area: 4 / 1;
	justify-self: baseline;
}

#formList {
	padding-left: 10px;
	font-size: 1.1rem;
	font-weight: 300;
}

.formDate {
	grid-area: 4 / 2;

	display: flex;
	justify-self: center;
	justify-content: center;
}

#formDate {
	display: flex;
	align-content: center;

	width: 70%;

	text-align: center;
	font-size: 1rem;
	font-weight: 300;
}

.formPriority {
	grid-area: 4 / 3;
	padding-right: 10px;

	font-size: 1.1rem;
	font-weight: 300;
}

#formPriority {
	text-align: right;
}

#formList,
#formPriority {
	-moz-appearance: none;
	-webkit-appearance: none;
}

.submitButton {
	z-index: 3;
	position: absolute;
	bottom: -3rem;

	height: 2rem;
	width: 6.5rem;

	align-self: end;
	justify-self: center;

	background: #e3e3e3;
	backdrop-filter: blur(20px);
	border: 1px solid #e4e4eb;
	border-radius: 3.125rem;
	box-shadow: 0px 4px 8px 0px rgba(96, 97, 112, 0.16),
		0px 0px 2px 0px rgba(40, 41, 61, 0.04);

	font-family: Inter, sans-serif;
	color: #1c1c28;
	font-feature-settings: 'clig' off, 'liga' off;
	font-size: 1.1rem;
	font-style: normal;
	font-weight: 300;

	cursor: pointer;
}

/* TODO CARD */

.todoCard {
	position: relative;

	display: grid;
	grid-template-columns: 1.5rem 3.8rem auto 5rem;
	grid-template-rows: 1fr;

	width: clamp(20rem, 35rem, 35rem);
	height: 2.6875rem;

	margin: 0.5rem;
	padding: 10px;

	border-radius: 0.9375rem;

	cursor: pointer;
}

/* Create custom checkbox */
.todoCheck {
	justify-self: baseline;
}

.todoTitle {
	height: 100%;

	overflow: hidden;
	text-overflow: ellipsis;

	font-family: Inter, sans-serif;
	color: #1c1c28;
	font-size: 1rem;
	font-style: normal;
	font-weight: 300;
}

.todoDate {
	align-self: center;

	color: rgba(0, 0, 0, 0.4);
	font-size: 0.625rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.deleteTodo {
	align-self: center;
	justify-self: end;
}

/* TODO CARD - edit */

.editCard {
	z-index: 3;
	position: relative;

	display: grid;
	grid-template-rows: 1.5rem auto 1.5rem;
	grid-template-columns: 1rem repeat(3, 1fr) 1rem;

	width: clamp(20rem, 35rem, 35rem);
	height: 10rem;

	padding: 0.5rem;
	margin: 0.5rem 0.5rem 0rem;
	border-radius: 1rem;

	font-family: Inter, sans-serif;
	color: #1c1c28;
	font-style: normal;
	font-weight: 400;
	text-overflow: ellipsis;
	gap: 0.25rem;
}

.todoTitleEdit,
.todoDueDateEdit,
.todoNotesEdit,
.todoPriorityEdit {
	background: transparent;
	border: 0;
	text-overflow: ellipsis;
}

.deleteTodoEdit {
	align-self: center;
	grid-row: 2;
	grid-column: 5;
}

.todoCheckEdit {
	grid-column: 1;
	grid-row: 2;

	margin-top: 10%;
	align-self: center;
	/* border-radius: 10px; */
}

.todoTitleEdit {
	grid-row: 1;
	grid-column: 2 / span 3;

	height: 100%;
	padding: 0.25rem;
	border-bottom: 1px solid #b5b4b43f;

	font-size: 1.1rem;
	font-weight: 300;
}

.todoNotesEdit {
	align-self: center;

	grid-column: 2 / span 3;
	grid-row: 2;

	height: 95%;
	padding: 4px;
	border-radius: 0.25rem;
	border: 1px solid #a1a2a430;

	font-size: 0.75rem;
	font-weight: 300;
}

.todoListEdit {
	align-self: center;
	justify-self: start;

	grid-column: 2;
	grid-row: 3;

	width: 90%;
	padding: 0;
	border: 0;
	background: transparent;

	font-size: 0.9rem;
	font-weight: 300;

	-moz-appearance: none;
	-webkit-appearance: none;
}

.todoDueDateEdit {
	justify-self: center;
	align-self: center;

	grid-column: 3;
	grid-row: 3;

	width: 90%;
	padding: 0;

	text-align: center;
	font-size: 0.9rem;
	font-weight: 300;
}

.todoPriorityEdit {
	align-self: center;
	justify-self: end;

	grid-column: 4;
	grid-row: 3;

	width: 90%;
	padding: 0;

	font-size: 0.9rem;
	text-align: end;
	font-weight: 300;

	-moz-appearance: none;
	-webkit-appearance: none;
}

.done > * {
	color: #8080807d;
	text-decoration: line-through;
	color: rgba(128, 128, 128, 0.64);
}

/* Priority */
.low {
	background: linear-gradient(var(--base-white), var(--base-white)) padding-box,
		var(--gradient-blue) border-box;
	border: 1px solid;
	border-bottom: 2px solid;
	border-color: transparent;
	box-shadow: 0px 8px 16px 0px rgba(62, 123, 250, 0.35),
		0px 2px 4px 0px rgba(62, 123, 250, 0.37);
}

.medium {
	background: linear-gradient(var(--base-white), var(--base-white)) padding-box,
		var(--gradient-orange) border-box;
	border: 0.1rem solid;
	border-bottom: 2px solid;
	border-color: transparent;
	box-shadow: 0px 8px 16px 0px rgba(255, 136, 0, 0.23),
		0px 2px 4px 0px rgba(255, 136, 0, 0.4);
}

.high {
	background: linear-gradient(var(--base-white), var(--base-white)) padding-box,
		var(--gradient-red) border-box;
	border: 0.1rem solid;
	border-bottom: 2px solid;
	border-color: transparent;
	box-shadow: 0px 8px 16px 0px rgba(255, 59, 59, 0.35),
		0px 2px 4px 0px rgba(255, 59, 59, 0.69);
}

.none {
	background: var(--base-white, #fff);
	border: 1px solid #e4e4eb;

	box-shadow: 0px 8px 16px 0px rgba(96, 97, 112, 0.16),
		0px 2px 4px 0px rgba(40, 41, 61, 0.04);
}

/* displayChange */
.changeAlert {
	z-index: 80;

	position: fixed;
	bottom: -10%;
	left: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	transform: translateX(-50%) translateY(0%);
	transition: transform 0.6s;

	height: 3.4375rem;
	padding: 0 1rem;
	border-radius: 0.5rem;
	border: 1px solid var(--stroke-soft, #f2f2f5);
	background: var(--base-white, #fff);
	box-shadow: 0px 4px 8px 0px rgba(96, 97, 112, 0.16),
		0px 0px 2px 0px rgba(40, 41, 61, 0.04);

	color: #1c1c28;

	font-family: Inter, sans-serif;
	font-size: 1.3rem;
	font-style: normal;
	font-weight: 700;
	line-height: 2rem; /* 133.333% */
	text-transform: uppercase;

	animation: showChangeAnimation 2.5s;
}

@keyframes showChangeAnimation {
	0% {
		bottom: -10rem;
	}
	25% {
		bottom: 0rem;
	}
	75% {
		bottom: 0rem;
	}
	100% {
		bottom: -10rem;
	}
}

footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
