* {
    /* border: 1px solid grey; */
}

html {
    font-family: Helvetica;
    font-size: 16px;
}

p {
    margin: 0;
}

.mainTitle {
    text-align: center;
}

.container {
    /* text-align: center; */
}

/* INPUT */

.inputTask {
    /* display: flex; */
    /* justify-content: center; */
    margin: auto;
}

/* TODO */

#todoForm {
    display: grid;
    grid-auto-rows: 70px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 400px;
    margin: auto;
    padding: 10px;
    background-color: gray;
}

.fromTitle {
    grid-column: 1 / span 3;
}

  
#formDesc {
  grid-column: 1 / spend 2;
}

#formTitle {
    width: 100%;
  }
  
.fromDesc {
  grid-column: 1 / span 3;
}
  
.fromPriority {
  grid-column: 3;
}
  
.confirmBtn {
    grid-column: 2;
    height: 50%;
}
  
#priority {
    width: 100%;
}
 
  
#formDesc {
    width: 100%;
    padding: 0;
}
  



.todoCard {
    display: flex;
    background-color: bisque;
    justify-content: space-evenly;
    padding: 5px 5px;
    border-radius: 20px;
}

.done {
    text-decoration: line-through;
    color: gray;
}

/* LIST */

.list > ul {
    list-style: none;
}

.titleList {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 25%;
    font-size: 1.5rem;
    font-weight: bold;
}
  

#Inbox {
    height: 15rem;
}

.InboxUl, 
.CompletedUl {
    height: 75%;
    margin: auto;
    padding: 0;
    display: grid;
    width: 200px;
    grid-auto-rows: 40px;
    overflow: scroll;
}

#Completed {
    height: 15rem;
    overflow: scroll;
}








  

  


  
    



  
 
  
  
  



